@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap");

* {
   font-family: "DM Sans", sans-serif;
   color: #eeebe6;
}

body {
   margin: 0;
   background-color: #50423e;
   min-height: 100vh;
}

main {
   min-height: 100vh;

   display: flex;
   flex-direction: column;
   place-items: center;
}

/* Modal de como jugar */
dialog {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);

   max-width: 70%;
   padding: 30px;
   background-color: #50423e;
   border: 5px solid #776e65;
   border-radius: 12px;
   z-index: 10;
}

dialog article {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

dialog:focus-visible,
button:focus-visible {
   outline: 0;
}

dialog .arrows {
   width: 80px;
   margin-bottom: 0;
}

dialog p {
   margin-top: 0;
   width: 85%;
}

dialog button {
   margin-top: 20px;
   padding: 12px 30px;
   border: 2px solid #776e65;
   border-radius: 12px;

   background-color: #cdc1b4;
   color: #776e65;
   font-size: 18px;
   font-weight: bolder;

   transition: all 700ms;
}

dialog button:hover {
   cursor: pointer;
   background-color: #ddd5cb;
   transition: all 300ms;
}

/* CLASE CERRAR EL MODAL */
.fade-out-animation {
   animation: fade-out 500ms forwards;
}

@keyframes fade-out {
   to {
      opacity: 0;
      display: none;
   }
}

.fade-in-animation {
   animation: fade-in 500ms forwards;
}
/* CLASE MOSTRAR MODAL */
@keyframes fade-in {
   from {
      opacity: 0;
      display: none;
   }
   to {
      opacity: 1;
      display: initial;
   }
}

/* OVERLAY OSCURO CUANDO UN MODAL SE ENCUENTRA ABIERTO */
#overlay-oscuro {
   display: none;
   position: fixed; /* Hace falta fijar su posicion, si no al no tener contenido el div, no funciona. */
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 9;
}

#hero {
   width: 800px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#hero h1 {
   font-size: 100px;
   margin: 20px 0;
}

#hero #hero-right {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 10px;
}

#hero #hero-right button {
   border: 0;
   border-radius: 5px;
   padding: 10px 20px;
   background-color: #bbada0;
   font-size: 20px;

   transition: all 500ms;
}

#hero #hero-right button:hover {
   cursor: pointer;
   background-color: #cdc1b4;

   transition: all 300ms;
}

#hero #hero-right h3 {
   font-size: 24px;
   margin: 0;
}

#puntos {
   margin-right: 15px;
}

#tablero {
   height: 800px;
   width: 800px;
   padding: 20px;
   border-radius: 20px;
   box-sizing: border-box;

   background-color: #bbada0;

   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   gap: 20px;
}

.celda {
   background-color: #cdc1b4;
   border-radius: 12px;
   font-size: 70px;
   font-weight: bolder;

   display: flex;
   justify-content: center;
   align-items: center;
}

.celda-2 {
   background: #eee4da;
   color: #776e65;
}

.celda-4 {
   background: #ede0c8;
   color: #776e65;
}

.celda-8 {
   background: #f2b179;
}

.celda-16 {
   background: #f59563;
}

.celda-32 {
   background: #f67c5f;
}

.celda-64 {
   background: #f65e3b;
}

.celda-128 {
   font-size: 65px;
   background: #edcf72;
   box-shadow: 0 0 30px 10px #f3d7743d;
}

.celda-256 {
   font-size: 65px;
   background: #edcc61;
   box-shadow: 0 0 30px 10px #f3d77451;
}

.celda-512 {
   font-size: 65px;
   background: #edc850;
   box-shadow: 0 0 30px 10px #f3d77465;
}

.celda-1024 {
   font-size: 60px;
   background: #edc53f;
   box-shadow: 0 0 30px 10px #f3d77479;
}

.celda-2048 {
   font-size: 60px;
   background: #edc22e;
   box-shadow: 0 0 30px 10px #f3d7748e;
}

/*** *** ANIMACIONES *** ***/

/* MOVE UP */

.mover-1-up-animacion {
   animation: mover-1-up 120ms;
}
@keyframes mover-1-up {
   from {
      transform: translateY(111%);
   }
   to {
      transform: translateY(0);
   }
}
.mover-2-up-animacion {
   animation: mover-2-up 120ms;
}
@keyframes mover-2-up {
   from {
      transform: translateY(222%);
   }
   to {
      transform: translateY(0);
   }
}
.mover-3-up-animacion {
   animation: mover-3-up 120ms;
}
@keyframes mover-3-up {
   from {
      transform: translateY(333%);
   }
   to {
      transform: translateY(0);
   }
}

/* MOVE RIGHT */

.mover-1-right-animacion {
   animation: mover-1-right 120ms;
}
@keyframes mover-1-right {
   from {
      transform: translateX(-111%);
   }
   to {
      transform: translateX(0);
   }
}
.mover-2-right-animacion {
   animation: mover-2-right 120ms;
}
@keyframes mover-2-right {
   from {
      transform: translateX(-222%);
   }
   to {
      transform: translateX(0);
   }
}
.mover-3-right-animacion {
   animation: mover-3-right 120ms;
}
@keyframes mover-3-right {
   from {
      transform: translateX(-333%);
   }
   to {
      transform: translateX(0);
   }
}

/* MOVE DOWN */

.mover-1-down-animacion {
   animation: mover-1-down 120ms;
}
@keyframes mover-1-down {
   from {
      transform: translateY(-111%);
   }
   to {
      transform: translateY(0);
   }
}
.mover-2-down-animacion {
   animation: mover-2-down 120ms;
}
@keyframes mover-2-down {
   from {
      transform: translateY(-222%);
   }
   to {
      transform: translateY(0);
   }
}
.mover-3-down-animacion {
   animation: mover-3-down 120ms;
}
@keyframes mover-3-down {
   from {
      transform: translateY(-333%);
   }
   to {
      transform: translateY(0);
   }
}

/* MOVE LEFT */

.mover-1-left-animacion {
   animation: mover-1-left 120ms;
}
@keyframes mover-1-left {
   from {
      transform: translateX(111%);
   }
   to {
      transform: translateX(0);
   }
}
.mover-2-left-animacion {
   animation: mover-2-left 120ms;
}
@keyframes mover-2-left {
   from {
      transform: translateX(222%);
   }
   to {
      transform: translateX(0);
   }
}
.mover-3-left-animacion {
   animation: mover-3-left 120ms;
}
@keyframes mover-3-left {
   from {
      transform: translateX(333%);
   }
   to {
      transform: translateX(0);
   }
}

/* GENERACION */
.generar-celda-animacion {
   animation: generar-celda 250ms;
}

@keyframes generar-celda {
   from {
      scale: 0;
   }
   to {
      scale: 1;
   }
}

/* FUSION & MOVIMIENTOS DE FUSION */
.fusion-celda-animacion {
   animation: fusion-celda 250ms;
}

@keyframes fusion-celda {
   0%,
   100% {
      scale: 1;
   }
   50% {
      scale: 1.3;
   }
}

.move-up-to-fusion-animacion {
   animation: move-up-to-fusion 60ms forwards;
}

@keyframes move-up-to-fusion {
   to {
      transform: translateY(-50%);
   }
}
.move-right-to-fusion-animacion {
   animation: move-right-to-fusion 60ms forwards;
}

@keyframes move-right-to-fusion {
   to {
      transform: translateX(50%);
   }
}
.move-down-to-fusion-animacion {
   animation: move-down-to-fusion 60ms forwards;
}

@keyframes move-down-to-fusion {
   to {
      transform: translateY(50%);
   }
}
.move-left-to-fusion-animacion {
   animation: move-left-to-fusion 60ms forwards;
}

@keyframes move-left-to-fusion {
   to {
      transform: translateX(-50%);
   }
}

@media (width < 900px) or (height < 1000px) {
   #hero {
      width: 600px;
   }

   #hero h1 {
      font-size: 80px;
   }

   #tablero {
      height: 600px;
      width: 600px;
      padding: 15px;
      gap: 15px;
   }

   .celda {
      font-size: 60px;
   }

   .celda-128,
   .celda-256,
   .celda-512 {
      font-size: 55px;
   }

   .celda-1024,
   .celda-2048 {
      font-size: 50px;
   }
}

@media (width < 700px) or (height < 800px) {
   #hero {
      width: 500px;
   }

   #hero #hero-right button {
      padding: 8px 18px;
   }

   #hero h1 {
      font-size: 70px;
   }

   #tablero {
      height: 500px;
      width: 500px;
      padding: 12px;
      gap: 12px;
   }

   .celda {
      font-size: 45px;
   }

   .celda-128,
   .celda-256,
   .celda-512 {
      font-size: 40px;
   }

   .celda-1024,
   .celda-2048 {
      font-size: 35px;
   }
}

@media (width < 550px) or (height < 700px) {
   #hero {
      width: 400px;
   }

   #hero h1 {
      font-size: 65px;
   }

   #hero #hero-right button {
      font-size: 15px;
   }

   #hero #hero-right h3 {
      font-size: 20px;
   }

   #tablero {
      height: 400px;
      width: 400px;
      padding: 10px;
      gap: 10px;
   }

   .celda {
      font-size: 40px;
   }

   .celda-128,
   .celda-256,
   .celda-512 {
      font-size: 35px;
   }

   .celda-1024,
   .celda-2048 {
      font-size: 28px;
   }
}

@media (width < 450px) {
   dialog {
      font-size: 12px;
      padding: 20px;
   }

   #hero {
      width: 320px;
   }

   #hero h1 {
      font-size: 60px;
   }

   #hero #hero-right button {
      font-size: 13px;
   }

   #tablero {
      height: 320px;
      width: 320px;
      padding: 8px;
      gap: 8px;
   }

   .celda {
      font-size: 35px;
   }

   .celda-128,
   .celda-256,
   .celda-512 {
      font-size: 30px;
   }

   .celda-1024,
   .celda-2048 {
      font-size: 25px;
   }
}

@media (width < 350px) {
   #hero {
      width: 250px;
   }

   #hero h1 {
      font-size: 55px;
   }

   #hero #hero-right button {
      font-size: 10px;
   }

   #hero #hero-right h3 {
      font-size: 15px;
   }

   #tablero {
      height: 280px;
      width: 280px;
      padding: 6px;
      gap: 6px;
   }

   .celda {
      font-size: 30px;
   }

   .celda-128,
   .celda-256,
   .celda-512 {
      font-size: 25px;
   }

   .celda-1024,
   .celda-2048 {
      font-size: 20px;
   }
}

/* FLECHAS PARA EL MOVIMIENTOE EN VERSION MOVIL */
#teclasMovimiento {
   display: none;
}

#teclasMovimiento img:active {
   scale: 1.1;
}

@media (orientation: portrait) {
   #teclasMovimiento {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   #teclasMovimiento img {
      margin-top: 2%;
      width: 22%;
   }

   #teclasMovimiento div {
      display: flex;
      justify-content: center;
      gap: 2%;
   }
}